h1{
	font-family: Verdana, sans-serif;
	color: #576d94;
}

p{
	font-family: Garamond, serif;
	font-size: 18px;
	color: #4a4943
}

img{
	height: 100px;
	width: 300px;
	border: 1px solid #4682b4
}

a{
	text-decoration: none;
	color: #cc0000;
}