div{
	border-radius: 5px;
	font-family: Tahoma;
	height: 800px;
	width: 800px;
	color: #0B2F3A;
}

#header{
	position: fixed;
	z-index: 1;
}

#footer{
	clear: both;
}

.left{
	float: left;
}

.right{
	float: right;
}
