* {
	border: 1px dashed black;
}

div {
	height: 50px;
	width: 100px;
	border: 4px solid #ff0000;
	border-radius: 5px;
	background-color: #308014;
	margin: 20px 50px 10px 5px;
	padding: 40px 40px 40px 40px;
}